@model IEnumerable<MusicLessonSchedule.Models.TeacherViewModel>

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a asp-action="Create">Add Teacher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher!.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher!.DateOfBirth)
            </th>
            <th>@Html.DisplayNameFor(Model => Model.InstrumentName)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher!.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher!.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher!.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Teacher!.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Teacher!.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Teacher!.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
