@model IEnumerable<MusicLessonSchedule.Models.Student>
@{
    ViewData["Title"] = "Students";
}
<h1>Students</h1>
<p>
    <a asp-action="Create">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Phone)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Phone)</td>
                <td>@Html.DisplayFor(m => item.Age)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>
                    <a asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
