@model IEnumerable<MusicLessonSchedule.Models.StudentViewModel>
@{
    ViewData["Title"] = "Students";
}
<h1>Students</h1>
<p>
    <a asp-action="Create">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Student!.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Student!.Phone)</th>
            <th>@Html.DisplayNameFor(m => m.Student!.Age)</th>
            <th>@Html.DisplayNameFor(m => m.Student!.Email)</th>
            <th>@Html.DisplayNameFor(m => m.InstrumentId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Student!.Name)</td>
                <td>@Html.DisplayFor(m => item.Student!.Phone)</td>
                <td>@Html.DisplayFor(m => item.Student!.Age)</td>
                <td>@Html.DisplayFor(m => item.Student!.Email)</td>
                <td>@Html.DisplayFor(m => item.InstrumentName)</td>
                <td>
                    <a asp-route-id="@item.Student!.Id" asp-action="Edit">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
