@model IEnumerable<MusicLessonSchedule.Models.Lesson>
@{
    ViewData["Title"] = "Current Lessons Scheduled";
}
<h1>Scheduled Lessons</h1>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LessonDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher!.Name)
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach(var lesson in Model)
        {
           <tr>
               <td>@Html.DisplayFor(modelItem => lesson.LessonDay)</td>
               <td>@Html.DisplayFor(modelItem => lesson.LessonTime)</td>
               <td>@Html.DisplayFor(modelItem => lesson.Student!.Name)</td>
               <td>@Html.DisplayFor(modelItem => lesson.Teacher!.Name)</td>
           </tr>
        }
    </tbody>
</table>
